<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Resources.Global.PJT_NAME</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("INACITY", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Resources.Home.HOME, "Index", "Home")</li>
                    <li>@Html.ActionLink(Resources.About.ABOUT, "About", "Home")</li>
                    <li>@Html.ActionLink(Resources.Home.CONTACT, "Contact", "Home")</li>
                    @*<li>@Html.ActionLink("User Maps", "Index", "UserMap")</li>*@
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    <li><a href='/fr'><img border="0" alt="Langue française" src="~/Content/flag_fr.png" width="20px" height="20px"></a></li>
                    <li><a href='/en-us'><img border="0" alt="English language" src="~/Content/flag_en-us.png" width="20px" height="20px"></a></li>
                    <li><a href='/pt-br'><img border="0" alt="Língua portuguesa" src="~/Content/flag_pt-br.png" width="20px" height="20px"></a></li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    
    <div class="container body-content">


        @RenderBody()
        <hr />
        <footer>
            <p>@DateTime.Now.Year - @Resources.Global.PJT_SHORT</p>
            <p>We acknowledge Microsoft for a sponsorship through the Microsoft Azure
Sponsorship and Google for their Streetview API.</p>
        </footer>

    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
