@{
    ViewBag.Title = Resources.About.ABOUT_PAGE;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    @Resources.Global.PJT_SHORT @Resources.About.DESCRIPTION
</p>

<p>@Resources.About.GITHUB_ADV <a href="https://github.com/arturandre/INACITY/wiki">@Resources.About.LINK</a></p>
