@model MapAccounts.Models.Primitives.RegionDTO

@{
    var gsvkey = System.Web.Configuration.WebConfigurationManager.AppSettings["googlestreet:key"];
    var gsvurl = Html.Raw("https://maps.googleapis.com/maps/api/js?key=" + gsvkey + "&callback=initMap&libraries=visualization,geometry");
}
<script>
    var gsvkey = "@gsvkey";
</script>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>*@

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Client/Scripts/Modules/SignalRClient.js"></script>
<script src="~/Scripts/FileSaver.min.js"></script>
<script src="~/Scripts/jszip.min.js"></script>
<script src="~/Client/Scripts/Primitives/PointDTO.js"></script>
<script src="~/Client/Scripts/Primitives/PictureDTO.js"></script>
<script src="~/Client/Scripts/Primitives/PanoramaDTO.js"></script>
<script src="~/Client/Scripts/Primitives/Job.js"></script>
<script src="~/Client/Scripts/Helpers/Geocoordinate.js"></script>
<script src="~/Client/Scripts/Modules/JobManager.js"></script>
<script src="~/Client/Scripts/Modules/GSHeatMap.js"></script>
<script src="~/Client/Scripts/Modules/GSDrawer.js"></script>
<script src="~/Client/Scripts/Modules/GSPanoramaMiner.js"></script>
<script src="~/Client/Scripts/Modules/ImageFilter.js"></script>

<link rel="stylesheet" type="text/css" href="~/Client/css/map.css" />
<link rel="stylesheet" type="text/css" href="~/Client/css/controls.css" />


@{
    <script>
        var gsdrawer = new GSDrawer();
        var gspanominer = new GSPanoramaMiner(null, null, null);
        var imfilter = new ImageFilter();
    </script>
    if (Model != null)
    {
        <script>
            var mRegion = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@Model));

            gsdrawer.selectedRegions.push(mRegion);
            var mapOptions = {
                zoom: 15,
                center: { lat: @Model.getCenter().lat, lng: @Model.getCenter().lng}
            };
        </script>
    }
    else
    {
        <script>
            var mRegion = null;
            var mapOptions = {
                zoom: 12,
                center: { lat: -23.559359, lng: -46.731667 }
            };
        </script>
    }



    ViewBag.Title = Resources.Home.HOME_PAGE;
}

<div class="jumbotron container">
    <div class="row">
        <h1>INACITY</h1>
        <p class="lead">INvestigate and Analyse a City - INACITY</p>
    </div>
    <div class="row">
        <div class="col-sm-2" style="margin-left:-15px">
            <p>SPONSORS:</p>
        </div>
        <div class="col-sm-2">
            <a href="https://www.microsoft.com/">
                <img height="60px" style="margin-top:5px" src="/Content/mslogo.png">
            </a>
        </div>

        <div class="col-sm-2">
            <a href="http://interscity.org/">
                <img height="60px" style="margin-top:5px" src="/Content/interscitylogo.png">
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="alert alert-warning" role="alert">
        @Resources.Global.BRW_WARN
    </div>
    <div class="container">
        <div id="divLoading" class="row text-center">
            <h1>@Resources.Global.LOADING <img src="~/Content/ajax-loader.gif" /></h1>
        </div>
        <div id="divProcess" class="row text-center">

        </div>
    </div>

    <br />
    <div class="col-md-6" margin-left:auto;>
        <h2>@Resources.Home.ROI</h2>

        <div class="mapcomponent">
            <label for="tbAddress">@Resources.Home.ADDRESS</label>
            <input type="text" id="tbAddress" />
            <input type="button" id="btSearchAddress" value="@Resources.Home.SEARCH" />
        </div>

        <div id="divAmenities" class="btn-group">
            <input type="button" id="btSchool" value="@Resources.Home.SCHOOLS" class="btn btn-default" />
            <input type="button" id="btPharmacy" value="@Resources.Home.PHARMACIES" class="btn btn-default" />
            <input type="button" id="btBusStop" value="@Resources.Home.BUS_STOPS" class="btn btn-default" />
            <input type="button" id="btHospital" value="@Resources.Home.HOSPITALS" class="btn btn-default" />
            <input type="button" id="btTreesHeatMap" value="@Resources.Home.TREES" class="btn btn-default" />
        </div>
        <br />
        <div id="divAmenitiesControls">
            <input type="image" id="btAmenitiesImages" src="~/Content/playbutton.png" />
            <input type="image" id="btSnapInMap" src="~/Content/snapbutton.png" />
        </div>

        <br />
        <div style="display:flex;">
            <p id="lblGuide">
                @Resources.Home.GD_STEP1
            </p>
            <input type="button" id="btUnsetStreet" value="@Resources.Home.UNSET_STREET" class="btn btn-default hidden" />
        </div>
        <div id="divMapSide">
            <div class="mapcomponent" id="map"></div></br>
            <p id="lblSelectedArea"></p>
        </div>


    </div>
    <div class="col-md-6" id="divStreetControls">
        <h2>@Resources.Home.DETAILS_REPORTS</h2>
        <div id="divControlsMenu">
            <input type="button" id="btStreets" class="btn btn-default" value="@Resources.Home.GET_STREETS" />
            <input type="button" id="btSaveSession" class="btn btn-default pull-right" value="@Resources.Home.SAVE_SESSION" />
        </div>
        <br />
        <div id="divReports">
            <p>@Resources.Home.SELECT_OPERATION</p>
            @*<input type="button" id="btPictures" class="btn-group" value="Ver imagens" />*@
            <!-- Single button -->
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @Resources.Home.VISUALIZE<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li id="btPictures" class="btn">@Resources.Home.IMG_ORIG</li>
                    <li id="btTreesFilter" class="btn disabled">@Resources.Home.IMG_TREES</li>
                    <li id="btCracksFilter" class="btn disabled">@Resources.Home.IMG_CRACKS</li>
                    <li role="separator" class="divider"></li>
                    <li id="btGenericFilter" class="btn disabled">@Resources.Home.IMG_CUSTOM</li>
                </ul>
            </div>
            <input type="button" id="btHeatMapStreetsToggle" class="btn btn-default disabled" value="@Resources.Home.TG_HEATMAP" />
            <br />
            <br />
            <div id="divNumPoints">
                <div>
                    <input checked="checked" type="checkbox" id="cbInterpolatePoints" />
                    <label for="cbInterpolatePoints">@Resources.Home.MORE_POINTS</label>
                    <img src="~/Content/questionmark.png"
                         class="masterTooltip" title="@Resources.Home.MORE_POINTS_HELP" />
                </div>
                <br />
            </div>
            <input type="button" id="btDownloadImages" class="btn btn-default pull-right" value="@Resources.Home.DOWNLOAD_IMAGES" />
            <br />
            <div id="divImageNavControls" class="row hidden" style="margin-top:15px;">
                <div class="col-md-3 pull-left">
                    <button type="button" class="btn btn-default" aria-label="@Resources.Home.PREV_IMAGE"
                            id="btPreviousStreetImage">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="col-md-6 text-center">
                    <button type="button" class="btn btn-default hidden" aria-label="@Resources.Home.PLAY"
                            id="btAutoPlayStreetImages">
                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default" aria-label="@Resources.Home.PAUSE"
                            id="btAutoPlayPauseStreetImages">
                        <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="col-md-3 pull-right">
                    <button type="button" class="btn btn-default pull-right" aria-label="@Resources.Home.NEXT_IMAGE"
                            id="btNextStreetImage">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <br />
            <div id="divMapNavigator">
                <label for="sdLocationPoint">@Resources.Home.LOCATION_SLIDER_HELP</label>
                <input type="range" id="sdLocationPoint" />
            </div>
        </div>
        <img id="imgPreview" width="640" height="640" style="margin-top:5px" />
        <br />

    </div>

</div>

<script>
    function getResourceString(msgCode)
    {
        switch (msgCode)
        {
            case "GET_STREETS":
                return "@Html.Raw(Resources.Home.GET_STREETS)";
            case "ABORT_CALL":
                return "@Html.Raw(Resources.Home.ABORT_CALL)";
            case "SEE_STREETS":
                return "@Html.Raw(Resources.Home.SEE_STREETS)";
            case "SEE_HEATMAP":
                return "@Html.Raw(Resources.Home.SEE_HEATMAP)";
            case "GD_STEP1":
                return "@Html.Raw(Resources.Home.GD_STEP1)";
            case "GD_STEP2":
                return "@Html.Raw(Resources.Home.GD_STEP2)";
            case "GD_STEP3":
                return "@Html.Raw(Resources.Home.GD_STEP3)";
            case "NO_IMAGES_1":
                return "@Html.Raw(Resources.Home.NO_IMAGES_1)";
            case "NO_IMAGES_2":
                return "@Html.Raw(Resources.Home.NO_IMAGES_2)";
            case "NO_IMAGES_3":
                return "@Html.Raw(Resources.Home.NO_IMAGES_3)";
            case "OK_IMAGES_1":
                return "@Html.Raw(Resources.Home.OK_IMAGES_1)";
            case "OK_IMAGES_2":
                return "@Html.Raw(Resources.Home.OK_IMAGES_2)";
            case "OK_IMAGES_3":
                return "@Html.Raw(Resources.Home.OK_IMAGES_3)";
            case "OK_IMAGES_4":
                return "@Html.Raw(Resources.Home.OK_IMAGES_4)";
            case "CHANGE_ADDRESS_WARN":
                return "@Html.Raw(Resources.Home.CHANGE_ADDRESS_WARN)";
            case "SET_FILTER_ENDPOINT":
                return "@Html.Raw(Resources.Home.SET_FILTER_ENDPOINT)";


            default:
                return "";
        }
    }


</script>




<script src="~/Client/Scripts/Views/HomeIndexScript.js"></script>



</script>
<script async defer src = "@gsvurl"></script>
